MQTT_BROKER_HOST=localhost
MQTT_BROKER_PORT=1883
MQTT_TOPIC=machine/data/#
MQTT_PUBLISH_TOPIC=machine/data/3

INFLUXDB_URL=http://localhost:8181
INFLUXDB_DATABASE=memco_iot
INFLUXDB_TOKEN=apiv3_local_memco_dev_token_change_me_1234567890
INFLUXDB_MEASUREMENT=machine_voltage

PYTHON_API_HOST=0.0.0.0
PYTHON_API_PORT=8001
